# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
colorschememapping.xml
filelist.xml
themedata.thmx
~$D-HTML.htm
~$S-HTML.htm
~WRL3742.tmp
~$AD-HTML.htm
.DS_Store
